extends layout
block title
  title index
block content
    form.form-inline(role='form')
      .form-group
        label(for='name') Name
        p.col-sm-2.form-control-static Name
        .col-md-3
          input.form-control#name(type='text',placeholder='name')
      .form-group
        label(for='phone') Phone
        p.col-sm-2.form-control-static Phone
        .col-md-3
          input.form-control#phone(type='text',placeholder='phone')
      .form-group
        .col-md-offset-2.col-md-3
          button.btn.btn-danger(type='submit') Add
      p
      table.table.table-condensed.table-striped
        tr
        - var arrs = ['#','Name','Phone']
        - for(var i = 0; i < arrs.length; i++)
          th #{arrs[i]}
        - each item , index in args
          tr
            td #{index}
            td #{item.name}
            td #{item.phone}






















